
.button_box{
    margin-bottom: 5rem;
    text-align: center
  }

  .mu-form-item-content>.mu-button{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    height: 3rem
  }

  .radios {
    margin-top: 15px;
  }